/*About me*/

.aboutme-container {
  background-image: url('../images/Background.jpg');
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 18rem; /* adjust the value to your desired amount */
}

/* .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.description {
  font-size: 1rem;
  color: black;
  margin-bottom: 20px;
}

.aboutme {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: black
}