.home-container {
    background-image: url('../images/Background.jpg');
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 18rem; /* adjust the value to your desired amount */
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: black;
  }
  
  p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    margin: 0 2rem;
    color: black;
  }

 