.home-container {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% 120%;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 10rem; /* adjust the value to your desired amount */
    padding-right: 0;
   }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    height: 100%;
    object-fit: fill;
    margin-right: 1rem;
  }

  .home-content{
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    margin-right: 26rem;
    color: white;
    
  }
  
  .home-content p {
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    /* margin-right: 1rem; */
    color: whitesmoke;
    padding-bottom: 10rem;
  }

 