/* Resume */

.resume-card {
    position: relative;
    z-index: 1;
    margin-bottom: 0rem;
    padding: 20px 10px 40px 10px;
    background: navy;
    font-size: 20px;
    /* Add styles for the box */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: 25rem;
    margin-top: 2rem;
    color: white;
  }
  
  .background-video {
    /* Set video properties, e.g. width, height, position, etc. */
    /* Add any additional video styles as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Set a negative z-index to place the video behind the card */
  }
  
  .resume-card h1 {
    /* Set heading styles, e.g. font-size, font-weight, margin, etc. */
    /* Add any additional heading styles as needed */
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .resume-card p {
    /* Set paragraph styles, e.g. font-size, margin, etc. */
    /* Add any additional paragraph styles as needed */
    font-size: 1rem;
    margin-bottom: 1rem;
    color: whitesmoke;
  }
  
  .resume-card ul {
    /* Set list styles, e.g. margin, padding, etc. */
    /* Add any additional list styles as needed */
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  .resume-card h4 {
    /* Set heading styles for list, e.g. font-size, font-weight, margin, etc. */
    /* Add any additional heading styles for list as needed */
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .resume-card li {
    /* Set list item styles, e.g. font-size, margin, padding, etc. */
    /* Add any additional list item styles as needed */
    font-size: 24px;
    margin-bottom: 5px;
  }
  
 
  
  .resume-title:hover {
    color: rgb(231, 235, 12);
  }