/*Footer*/

.footer-container{
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: black;
    position: absolute;
    margin-top: 5;
    border-top: 2px solid gray;
    border-bottom: 5px solid #6b6b6b;
    color: #FDF8F5;    
    text-align: center;
  }

.copyright{
  text-align: center;
}