/*Header*/

.header-container {
    position: relative;
   
    z-index: 100;
    width: 100.4%;
    height: auto;
    line-height: 50px;
    color: whitesmoke;
    }
    
    .logo {
    padding-top: 2rem; 
    font-size: 35px;
    text-decoration: none;
    color: white;
    }
    
   