/*Header*/

.header-container {
    position: relative;
   
    z-index: 100;
    width: 100.4%;
    height: auto;
    line-height: 50px;
    color: whitesmoke;
    }
    
    .logo {
    padding-top: 2rem; 
    font-size: 35px;
    text-decoration: none;
    color: white;
    }
    
    header nav ul {
     
     padding-right: 2.0rem;
     margin: auto;
     font-family: "Orbitron","Quantico", sans-serif;
     font-size: 20px;
     line-height: 1.9;
     list-style-type: none;
    }
    
    .about-me {
      display: inline-block;
      
      text-decoration: none;
      color: whitesmoke;
    }