.navbar  {
  position: relative;
  text-align: center;
  z-index: 100;
  width: 100.4%;
  height: auto;
  display: inline-block;
  padding-right: 2.0rem;
  margin: auto;
  font-family: "Orbitron","Quantico", sans-serif;
  font-size: 20px;
  line-height: 1.9;
  list-style-type: none;
  color: whitesmoke;
  }
   
   /* .navbar {
     display: inline;
     padding: 1px 20px;
     text-decoration: none;
     color: whitesmoke;
     
   } */

   /* .about-me {
     
    padding-right: 2.0rem;
    margin: auto;
    font-family: "Orbitron","Quantico", sans-serif;
    font-size: 20px;
    line-height: 1.9;
    list-style-type: none;
   } */
   
   .projects {
    color:rgb(104, 106, 138);
    padding-right: 2.0rem;
    margin: auto;
    font-family: "Orbitron","Quantico", sans-serif;
    font-size: 30px;
    line-height: 1.9;
    list-style-type: none;
   }

   .contact {
    color:rgb(104, 106, 138);
    padding-right: 2.0rem;
    margin: auto;
    font-family: "Orbitron","Quantico", sans-serif;
    font-size: 30px;
    line-height: 1.9;
    list-style-type: none;
   }

  .about-me {
    color:rgb(104, 106, 138);
    padding-right: 2.0rem;
    margin: auto;
    font-family: "Orbitron","Quantico", sans-serif;
    font-size: 30px;
    line-height: 1.9;
    list-style-type: none;
    }
  
  .about-me :hover {
    color: aquamarine;
  }

  .resume {
    color:rgb(104, 106, 138);
    padding-right: 2.0rem;
    margin: auto;
    font-family: "Orbitron","Quantico", sans-serif;
    font-size: 30px;
    line-height: 1.9;
    list-style-type: none;
  }